*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container{
    max-width: 1270px;
    margin: auto;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
li {
    float: left;
    /* padding: 10px;  */
}
.nav_sec_left{
    margin-top: -10px;
}

.logo img{
    width: 25px;
    height: 25px;
    margin: 15px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 30px;
    
}

.nav_sec_right{
    float: right;
}
.banner_img img {
    width: 100%;
    height: auto;
    margin-top: -5px;
    
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.user-icon{
  margin-right: 8px;
}

.shopping-icon{
  margin-right: 8px;
}



 
.body_container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
 
.header {
    text-align: center;
    margin: 20px 0;
}
 
.header-image {
    width: 100%;
    max-width: 100%;
}
 
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 23%;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.product_bottom{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.product_bottom img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
 
.product h3 {
    font-size: 1.2em;
    margin: 0 0 10px;
}
 
.discount {
    color: red;
    font-weight: bold;
}

.price {
    font-size: 0.7em;
    color: #333;
    margin: 10px 0;
}
 
.original-price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.7em;
}

